/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

/* Estilos para el contenedor principal */
.container {
    display: flex;
}

/* Estilos de la barra lateral izquierda */
.sidebar {
    background-color: #000;
    color: #fff;
    width: 250px;
    height: 100vh;
}

.sidebar-header {
    font-style: italic;
    font-size: 1.5rem;
    padding: 10px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar-menu li img {
    width: 20px;
    margin-right: 10px;
}

/* Estilos para el elemento de Configuración en el sidebar */
.sidebar-menu li:last-child {
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute; /* Posición absoluta para separarlo del flujo normal */
    bottom: 10px; /* Espacio desde abajo */
}

.sidebar-menu li:last-child img {
    width: 20px;
    margin-right: 10px;
}


/* Estilos del contenido principal */
.main-content {
    flex: 1;
    padding: 20px;
    position: relative;
}

/* Estilos para el formulario de crear memoria */
.crear-memoria-form {
    padding: 20px;
}

.crear-memoria-form label {
    display: block;
    margin-top: 10px;
}

.crear-memoria-form input[type="text"],
.crear-memoria-form textarea,
.crear-memoria-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.crear-memoria-form .compartir-button {
    background-color: #DC143C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

/* Estilos para el botón de "add-icon" */
#add-icon {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    cursor: pointer;
}

/* Estilos para el cuadro de selección de archivo personalizado */
.crear-memoria-form label.custom-file-upload {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.custom-file-select {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.custom-file-select img {
    width: 20px;
    margin-right: 10px;
}

.custom-file-select span {
    font-weight: bold;
}

.crear-memoria-form label input[type="file"] {
    display: none;
}

.crear-memoria-form label input[type="file"] + .custom-file-select {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    cursor: pointer;
}

.crear-memoria-form label input[type="file"]:hover + .custom-file-select {
    background-color: #000;
    color: #fff;
}

/* Estilos para etiquetas de entrada */
.input-label {
    font-style: italic;
    color: #999;
}

/* Estilos para el cuadro de selección de hashtag */
.hashtag-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.hashtag-container label {
    font-style: italic;
    color: #999;
    margin-right: 5px;
}

.hashtag-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    font-style: italic;
    color: #999;
}

.hashtags {
    margin-top: 5px;
    color: #000;
}

/* Estilos para la memoria */
.memoria {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
}

.usuario-info {
    display: flex;
    align-items: center;
}

.usuario-info img {
    width: 20px;
    margin-right: 10px;
}

.memoria-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye las imágenes uniformemente */
    margin-top: 10px;
}

.memoria-images img {
    width: calc(25% - 10px); /* Establece el ancho para que haya 4 imágenes por fila con 10px de espacio entre ellas */
    height: 300px;
    margin-bottom: 10px;
}

.memoria-info h2,
.memoria-info p {
    font-size: 16px;
}

.reacciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.reacciones img {
    width: 20px;
    margin-right: 10px;
}

/* Estilos para las imágenes en las memorias */
.memoria-images img img {
    max-width: 100%;
    max-height: 100%;
}

/* Estilos para el sidebar-right */
.sidebar-right-menu {
    background-color: #ebebeb;
    border-left: 1px solid #ccc;
    width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-right-menu li {
    display: flex;
    align-items: left;
    padding: 10px;
}

.sidebar-right-menu li img {
    width: 20px;
    margin-right: 10px;
}

/* Estilos para el footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

/* Nuevo */

/* Estilos para la barra de búsqueda en la sidebar-right-menu */
.sidebar-right-menu li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar-right-menu input[type="text"] {
    margin-left: 10px;
}

/* Estilos para el contenedor de hashtags filtrados */
#filteredHashtags {
    margin-top: 10px;
}

#filteredHashtags ul {
    list-style: none;
    padding: 0;
}

#filteredHashtags li {
    margin-bottom: 5px;
}

.hashtag-img {
    width: 200px;
    height: auto;
}

.tabs {
    display: flex;
    margin-bottom: 10px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.tab.active {
    background-color: #007BFF;
    color: #fff;
}
.memoria-img {
    width: 100px;
    height: auto;
}

.memoria-container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.memoria-images img {
    width: 100%;
    height: auto;
    max-width: 200px; /* Cambia el tamaño máximo según tus preferencias */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Agrega espacio entre las imágenes */
}


.comentarios li {
    list-style-type: none;
    margin-bottom: 5px;
}

.comentarios-list {
    padding: 0;
}

.comentarios li {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Agrega estilos para el subrayado del nombre de usuario */
.clickable-username {
    text-decoration: underline;
    cursor: pointer;
}

/* Agrega estilos para el cuadro modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}