/* style-cuenta.css */

.container-cuenta {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
}

#user-info-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

#user-info-container pre {
    white-space: pre-wrap;
}

/* Estilo para el botón de "Editar" */
.edit-button {
    background-color: orange;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

/* Estilo para el botón de "Borrar cuenta" */
.delete-button {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilo para el botón de "Cerrar sesión" */
.logout-button {
    background-color: #333;
    color: white;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* Footer */
footer {
    margin-top: 40px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
}
